<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Notice of message from contact page</title>
    </head>
    <body>
        <h2>Hello {{tttClient}}! </h2>
        <p>We have received a message on your contact page. Here are the details: </p>
        <p>Contact Name: {{name}}</p>
        <p>Contact Email: {{email}}</p>
        <p>Contact Message: {{message}}</p>
    </body>
</html>